body {
    font-family: Arial, sans-serif;
}

p{
    font-size: 20px;
}

.Assignment {
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 30px;
    color: #333;
}

h3 {
    font-size: 20px;
}

img {
    max-width: 20%;
    height: auto;
    margin: 10px 0;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #000; /* Adicione uma linha pontilhada sob o texto em negrito */
    cursor: help; /* Mude o cursor ao passar o mouse */
}

.tooltiptext {
    visibility: hidden;
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    text-align: center;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.2s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

hr {
    border: 1px solid #999; /* Define a cor e estilo da borda */
    margin: 20px 0; /* Adicione margens para espaçamento */
}