
/* Estilos para a seção do título */
.title-section {
    background-color: #0073e6; /* Cor de fundo do retângulo */
    text-align: center;
    padding: 30px 0; /* Espaçamento interno do retângulo */
}

/* Estilos para o retângulo do título */
.title-box {
    background-color: #fff; /* Cor de fundo do retângulo do título */
    display: inline-block;
    padding: 20px;
    border-radius: 10px; /* Borda arredondada do retângulo do título */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Sombra do retângulo do título */
}

/* Estilos para o texto do título */
.title-box h1 {
    margin: 0;
    color: #333; /* Cor do texto do título */
    font-size: 36px;
}