* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: #365879;
}

/* Side menu box */
.box{
    width: fit-content;
    height: 100vh;
    background-color: white;
    position: absolute;
    text-align: left;
    z-index: 1;
    opacity: 0;
    left: -500px;
    pointer-events: none;
    transition:0.3s;
    border-right: black;
    border-style: solid;
    border-width: 2px;
}

/* Side menu box when shown */
.active_box{
    opacity: 1;
    left: 0px;
    pointer-events: fill;
}

/* Side menu button to open or close */
.menu_icon_box {
    z-index: 2;
    width: fit-content;
    height: auto;
    background-color: white;
    margin: 30px;
    position: absolute;
    border-radius: 4px;
    cursor: pointer;
    border:black;
    border-style: solid;
    border-width: 2px;
}

.active_menu_icon_box{
    border: white;
    border-style: solid;
    border-width: 2px;
}

/* Lines of the button */
.line1, .line2, .line3{
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 10px 10px;
    border-radius: 4px;
    transition: 0.3s;
}

/* Styles for the lines of button when active */
.active_menu_icon_box .line1{
    transform: translate(0px, 15px) rotate(45deg);
}
.active_menu_icon_box .line2{
    opacity: 0;
}
.active_menu_icon_box .line3{
    transform: translate(0px, -15px) rotate(-45deg);
}

/* Styles for the elements of the side menu */
nav{
    padding-top: 100px;
}
nav ul{
    margin: 0px 30px;
}
nav ul li{
    list-style: none;
    margin-bottom: 30px;
    transition: 0.2s;
}
nav ul li:hover{
    background-color: #c6c6c66f;
    border-radius: 8px;
}
nav ul li a{
    color: #000;
    font-size: 28px;
    padding: 10px 30px;
    display: block;
    text-decoration: none;
}

/* Estilos para a seção do título */
.title-section {
    background-color: #0073e6; /* Cor de fundo do retângulo */
    text-align: center;
    padding: 30px 0; /* Espaçamento interno do retângulo */
}

/* Estilos para o retângulo do título */
.title-box {
    background-color: #fff; /* Cor de fundo do retângulo do título */
    display: inline-block;
    padding: 20px;
    border-radius: 10px; /* Borda arredondada do retângulo do título */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Sombra do retângulo do título */
}

/* Estilos para o texto do título */
.title-box h1 {
    margin: 0;
    color: #333; /* Cor do texto do título */
    font-size: 36px;
}


/* Estilos para as informações dos criadores */
.creators-info {
    margin: 10px;
    background-color: #f4f4f4; /* Cor de fundo */
    padding: 20px;
    border-radius: 10px; /* Borda arredondada */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Sombra */
    text-align: center;
}

.creators-info p {
    margin: 10px 0; /* Espaçamento entre os parágrafos */
    font-size: 16px;
    color: #333; /* Cor do texto */
}

/* Estilizar o primeiro parágrafo como um título */
.creators-info p:first-child {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px; /* Espaçamento inferior */
}

/* Estilos para as imagens dentro das seções de atualização */
.update-section img {
    max-width: 100%; /* Defina a largura máxima para ocupar o espaço disponível */
    height: auto; /* Mantenha a proporção da altura */
    display: block; /* Remova espaços extras ao redor das imagens */
    margin: 10px auto; /* Adicione espaçamento ao redor das imagens e centralize-as horizontalmente */
}

/* Estilos para o botão "Voltar ao Index" */
.back-button {
    margin-top: 10px;
    display: inline-block;
    background-color: #365879; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto */
    padding: 10px 20px;
    text-decoration: none; /* Remova sublinhado do link */
    border-radius: 5px; /* Borda arredondada */
    transition: background-color 0.3s, color 0.3s; /* Transições suaves para hover */
}

.back-button:hover {
    background-color: #005dbb; /* Cor de fundo do botão no hover */
}

/* Estilizar o botão para que ele pareça um botão real */
.back-button:active {
    transform: translateY(2px); /* Efeito de pressionar o botão */
}

.project-update {
    width: 70%; /* Adjust the width as per your preference */
    background-color: #e1e1e1;
    padding: 20px;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    margin: 10px;
    text-align: center;
    
}

/* Adiciona uma linha em branco */
.empty-line {
    height: 30px;
}

/* Aumenta o tamanho de uma imagem */
.bigger-image {
    max-width: 100%;
    max-height: 100%;
    width: 960px;
    height: 417px;
}

.bigger-image2 {
    max-width: 100%;
    max-height: 100%;
    width: 960px;
    height: 318px;
}

.bigger-image3 {
    max-width: 100%;
    max-height: 100%;
    width: 602px;
    height: 36px;
}